testausta/testi5/.gitignore
testausta/testi5/db.json
testausta/testi5/package-lock.json
testausta/testi5/package.json
testausta/testi5/README.md
testausta/testi5/components/Note.js
testausta/testi5/public/favicon.ico
testausta/testi5/public/index.html
testausta/testi5/public/logo192.png
testausta/testi5/public/logo512.png
testausta/testi5/public/manifest.json
testausta/testi5/public/robots.txt
testausta/testi5/src/App.js
testausta/testi5/src/index.js
testausta/testi5/src/components/Note.js
testausta/
